extends layout

block header
  h2 Password Reset Request

block content
  p You requested a password reset. Please click the button below to reset your password:
  p
    a.btn(href=resetUrl) Reset Password
  p If you didn't request this, please ignore this email.
  p This link will expire in 1 hour.

block footer
  p For security reasons, this link will expire in 1 hour.
  p If you need any assistance, please contact our support team. 