doctype html
html
  head
    style.
      .btn { background-color: #007bff; padding: 10px; color: white; text-decoration: none; }
  body
    h1 Hello #{name}
    p Welcome to our service!
    a.btn(href=link) Click Here
